@import "tailwindcss";

:root {
  --background: #050816;
  --surface: #0f172a;

  --primary: #a3ff12;
  --secondary: #38bdf8;
  --danger: #ff4d6d;

  --text: #f8fafc;
  --muted: #94a3b8;

  --border: rgba(255,255,255,0.08);
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(
      circle at top left,
      rgba(163,255,18,0.08),
      transparent 30%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(56,189,248,0.08),
      transparent 30%
    ),
    var(--background);

  color: var(--text);
  min-height: 100vh;
}

.glass {
  background: rgba(255,255,255,0.03);
  backdrop-filter: blur(14px);
  border: 1px solid var(--border);
}

.container-app {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 24px;
}

.button-primary {
  background: var(--primary);
  color: #000;

  border-radius: 18px;
  padding: 12px 24px;

  font-weight: 700;

  transition: 0.3s;
}

.button-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 30px rgba(163,255,18,0.3);
}

.button-secondary {
  border: 1px solid rgba(255,255,255,0.08);

  border-radius: 18px;

  padding: 12px 24px;

  transition: 0.3s;
}

.button-secondary:hover {
  background: rgba(255,255,255,0.04);
}

.gradient-text {
  background: linear-gradient(
    to right,
    #a3ff12,
    #38bdf8
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}